audio {
  margin-left: 20px;
  display: none;
}

mat-icon.play-button {
  margin-left: 20px;
}

mat-icon:hover {
  cursor: pointer;
}

img {
  height: 200px;
}

button {
  margin-left: 20px;
  margin-top: 30px;
}
