<mat-list class="search-results"
          infiniteScroll
          (scrolled)="onScroll()"
          [scrollWindow]="false">
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Input</mat-label>
        <input #searchBox matInput [ngModel]="search" (ngModelChange)="searchPokemon($event)">
    </mat-form-field>
    <mat-list-item *ngFor="let pokemon of data">
        <img matListAvatar src="assets/img/sprites/{{pokemon.id}}.png" alt="{{pokemon.name}}">
        <a matLine (click)="getPokemonDetails(pokemon)" style="color: white">
            <span> {{pokemon.id}}. </span>
            <span> {{pokemon.name}} </span>
        </a>
    </mat-list-item>
</mat-list>
